h1 {
    color: #FF0000;
    text-align: left;
    text-decoration: underline;
}

h2 {                                                   /*  R  G  B */
    color: #00FF00; /* RedGreenBlue / RojoVerdeAzul -> # ++ ++ ++*/
    text-align: center;
    text-decoration: line-through;
}

h3 {
    color: #0000FF;
    text-align: right;
    text-decoration: overline;
}

.fondo {
    background-color: #CC00CC;
}

#encabezado2 {
    text-decoration: none;
}